<h3>Admin Panel</h3>

<div class="pull-right">
{{update-post post=model update="update"}} <br>
</div>

<h5>Here you can update or delete a post</h5><br>

<!-- loads the post detail -->
{{post-detail post=model destroyPost="destroyPost"}}
